.field {

    position: relative;
    width: 380px;
    height: 380px;
    margin-left: 150px;

    background-color: #FEDEDE;
    border-radius: 10px;
}

.field img{

    position: absolute;
    width: 405px;
    height: 405px;
    top:-30px;
    left: -35px;
}