.field {

    position: relative;
    width: 48.3vh;
    height: 48.3vh;
    left: 19.5vh;
    margin-right: 1%;

    background-color: #FEDEDE;
    border: 0.1vh solid #7E0000;
}

.field img{

    position: absolute;
    z-index: -1;
    width: 51vh;
    height: 52vh;
    top:-4vh;
    left: -4vh;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

