.field {

    position: relative;
    width: 48.3vh;
    height: 48.3vh;
    margin-left: 20.5vh;

    background-color: #FEDEDE;
    border-radius: 4vh;
}

.field img{

    position: absolute;
    z-index: -1;
    width: 51vh;
    height: 51vh;
    top:-4vh;
    left: -4vh;
}

