.buttons img {
    position: relative;
    top:1vh;
    left: 30vh;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.question{
    width: 8vh;
    margin-right: 8vh;
}

.volume{
    width: 10vh;
}