.grid {
    display: grid;
    grid-template-columns: 4.9vh 4.9vh 4.9vh 4.8vh 4.8vh 4.8vh 4.8vh 4.8vh 4.8vh 4.8vh;
    grid-template-rows: 4.9vh 4.9vh 4.9vh 4.8vh 4.8vh 4.8vh 4.8vh 4.8vh 4.8vh 4.8vh;  
    cursor: pointer;  
}

.grid div{
    border: 0.1vh solid #135579;
}

