@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


.block {
    
    position: relative;
    margin-top: 4vh;

    width: 117vh;
    height: 28.5vh;

    background: linear-gradient(to right, #D1E9F6, #FEDEDE);

    border-radius: 4vh;

    overflow: hidden;

    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.644);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    z-index: -1;
}

.invent{
    display: flex;
    justify-content: center;
    align-items: center;
}


.img {
    position: absolute;
    opacity: 0.15;
    top: 0vh;
    right: 0vh;
    width: 50vh;
    height: 30vh;
    z-index: -1;
    pointer-events: none; 
}

.invent span{
    position: relative;
    font-size: 14vh;
    top: 5vh;
    left: 0vh;
    
    z-index: 0;
    font-family: 'Black Ops One';
    text-decoration:underline;
}
.aTurn{
    color: gray;
}

.uTurn{
    color:#61b2e0;
}

.eTurn{
    color:#ff6262;
}