.invent {
    margin-top: 4vh;

    width: 117vh;
    height: 28.5vh;

    background: linear-gradient(to right,#D1E9F6, #FEDEDE);

    border-radius: 4vh;

    overflow: hidden;

    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.644);   
}

.img {
    opacity: 0.1;
    padding-left: 70vh;
    width: 50vh;
}