.list{
    
    width: 450px;
    height: 540px;

    background-color: rgb(255, 0, 34);

    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    background: linear-gradient(to right,#61B2E0, #D1E9F6)
}

.headerList{
    width: 450px;
    height: 80px;

    background-color: blue;

    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;

    background-color: #61B2E0;
    line-height: 5em;
    
}

.headerList span {
    font-family: Montserrat;
    font-size: 50px;
    color: white;
    margin-left: 20px;
}