.headerList {

    width: 60vh;
    height:10vh;

    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;

    background-color: #61B2E0;
    line-height: 9vh;
    
}

.headerList span {

    font-family: Montserrat;
    font-size: 7vh;
    color: white;
    margin-left: 3vh;
    text-shadow: 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.4);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.list {

    width: 60vh;
    height: 68.5vh;

    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;

    background: linear-gradient(to right, #81cefa, #d1e9f6);

    position: relative;
    margin-top: 2vh;

    box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.644);  
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.img {

    height: 105vh;
    width: 60vh;
    position: absolute;
    top: -34.5vh;
    z-index: 0;
    pointer-events: none; 
}


.players {

    height:58.3vh;
    position: absolute;
    z-index: 1;
    overflow-y: scroll;
    border-bottom-right-radius: 4vh;
    border-top-right-radius: 4vh;
}

::-webkit-scrollbar {

    width: 0px;
}