.modal{

    position: fixed;
    top:0;
    left: 0;
    z-index: 1;

    width: 200vh;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.nomodal{
    transform: scale(0);
}


.modalContent{
    width: 30%;
    height: 48%;

    background: linear-gradient(to right, #61B2E0, #FEDEDE);
    border-radius: 16%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.block1{
    width: 90%;
    height: 32%;
    background-color: #0B7CBC;
    text-align: center;
    border-radius: 6vh;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

.block1 span{
    font-family: Montserrat;
    font-size: 4vh;
    color:white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.block2{
    width: 90%;
    height:15%;
    background-color: #0B7CBC;
    display: flex;
    align-items: center;
    border-radius: 5vh;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

.block2 span{
    font-family: Montserrat;
    font-size: 4.2vh;
    color:white;
    margin-left: 5%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.block2 input{
    
    width: 80%;
    font-family: Montserrat;
    font-size: 3.2vh;
    color:white;
    margin-left: 5%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    background:transparent;
    Border: none; 
    outline: none;
}



.buttonYES{
    width: 30%;
    height: 12%;
    background: linear-gradient(to right, #6BE061, #0B7CBC);
    border: 0px;
    border-radius: 3vh;
    font-family: Montserrat;
    font-size: 4.2vh;
    color:white;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

.buttonNO{
    width: 30%;
    height: 12%;
    background: linear-gradient(to right, rgb(224, 97, 97), #0B7CBC);
    border: 0px;
    border-radius: 3vh;
    font-family: Montserrat;
    font-size: 4.2vh;
    color:white;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}