.field {
    position: relative;
    z-index: 0;
    width: 380px;
    height: 380px;

    background-color: #D1E9F6;
    border-radius: 10px;
}

.field img{
    position: absolute;
    z-index: -1;
    width: 405px;
    height: 405px;
    top:-30px;
    left: -35px;
}

.ChekeredField{
    position: absolute;
    z-index: 1;
}