.mainMenu {
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
}

.playerMenu {
    padding-left:1.5vh;
    display: flex;
    flex-direction: column;
}

.playGround{
    margin-left: 15vh;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

